@import url(./components/base-button.css);
@import url(./components/combobox.css);
@import url(./components/navbar-item.css);
@import url(./components/check-box.css);

@import url(./components/base-input.css);
@import url(./components/pagination.css);
@import url(./components/form-header-controls.css);
@import url(./components/dialog/dialog.css);
@import url(./components/dialog/dialog-show.css);
@import url(./components/dialog/dialog-import.css);
@import url(./components/dialog/dialog-detail.css);
@import url(../assets/resource/icon/icon.css);

@import url(./components/table.css);
@import url(./layout/content.css);
@import url(./layout/header.css);
@import url(./layout/navbar.css);


body {
    margin     : 0;
    font-family: MISA GoogleSans;
    font-size  : 13px;
    font-weight: 500;
}

.m-row {
    padding: 30px;
}


@font-face {
    font-family: MISA Tahoma;
    src        : url(../assets/font/Tahoma/@font-face/cd0381aa3322dff4babd137f03829c8c.eot);
}

.m-input-error {
    border-color: #FF4747 !important;
}

.fit-center {
    display        : flex;
    align-items    : center;
    justify-content: center;
}