.m-btn {
  height: 25px;
  padding: 0 10px;
  border-radius: 2px;
  border: none;
  outline: none;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #fafafa;
  box-sizing: border-box;
}

.m-btn:hover {
  background-color: #e4f2ea;
  border: 1px solid #0072bc;
  box-sizing: border-box;
}

.m-btn:active {
  background-color: #e4f2ea;
  border: 1px solid #0072bc;
  box-sizing: border-box;
}

.m-btn:disabled {
  background-color: #fafafa;
  border: 1px solid #ccc;
  box-sizing: border-box;
  opacity: 30%;
}

.m-btn-wcolor {
  background-color: #0072bc;
  border-color: 1px solid #0072bc;
  color: #fff;
}

.m-btn-wcolor:hover {
  background-color: #008ce6;
  border-color: 1px solid #008ce6;
}

.m-btn-wcolor:active {
  background-color: #008ce6;
  border-color: 1px solid #008ce6;
}

.m-btn-wcolor:disabled {
  background-color: #0072bc;
  border-color: 1px solid #0072bc;
  opacity: 30%;
}

.m-btn-wicon {
  display: flex;
}

.m-btn-icon {
  margin-right: 8px;
  display: flex;
  width: 12px;
  justify-content: center;
}

.m-btn-icon .fa-check {
  color: green;
}

.m-btn-icon .fa-xmark {
  color: red;
}
.m-btn-icon .fa-file-import {
  font-size: 14px;
}
.m-btn-icon .fa-download {
    font-size: 14px;
  }
  
